* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200vw;
    height: 200vh;
    transform-origin: top left;
}
