* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    background-color: black;
}

.hidden-item {
    display: none !important;
}

#canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200vw;
    height: 200vh;
    transform-origin: top left;
    transition: transform .5s ease-out;
    z-index: 2;
}

#container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: visible;
}
#container > .child {
    position: absolute;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    background-size: 100%;
    /* transition: top .5s ease-out, clip-path .5s ease-out; */
    transition: top .5s ease-out;
    background-position-x: 0px;
}

#container.animating {
    animation: kaleidoscope_rotating 5s linear 0s infinite;
}
#container.animating > .child {
    animation: kaleidoscope_background 5s linear 0s infinite;
}


@keyframes kaleidoscope_background {
    from {
        background-position-y: 100vh;
    }
    to {
        background-position-y: 0vh;
    }
}
@keyframes kaleidoscope_rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

